<div class="container-fluid mt-2 py-2">
  <div
    class="eas-border-radius-0 bg-primary inner-header text-light nav-wrapper"
  >
    <div class="flex-row-back">
      <a (click)="location.back()" class="nav-item-back">
        <i class="fa-solid fa-arrow-left"></i
      ></a>
      <h5 class="text-right my-2">{{branchName}} | Code Index</h5>
    </div>
    <div class="flex-row">
      <button
        type="button"
        class="btn btn-labeled btn-light border-0 my-2 mr-1"
        (click)="newBarcode()"
      >
        <span class="btn-label">
          <i class="fa-solid fa-plus"></i>
        </span>
        Code
      </button>
    </div>
  </div>

  <!-- <ng-container *ngIf="assign == 2">
    <div class="card shadow border-0 eas-border-radius-0">
      <div class="card-head">
        <div class="row">
          <button
            type="button"
            class="btn btn-labeled btn-primary ml-1 my-1 border-0"
            (click)="cate()"
          >
            <span class="btn-label">
              <i class="fa-solid fa-plus"></i>
            </span>
            New Category
          </button>
          <button
            type="button"
            class="btn btn-labeled btn-primary ml-1 my-1 border-0"
            (click)="subcate()"
          >
            <span class="btn-label">
              <i class="fa-solid fa-plus"></i>
            </span>
            New Sub Category
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <div class="form-group">
            <input
              type="text"
              class="form-control eas-border-radius-0"
              placeholder="Search..."
            />
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>S#</th>
                <th>Code Name</th>
                <th>Category</th>
                <th>Cost Rate</th>
                <th>Sale Rate</th>
                <th class="text-right">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ code.cid }}</td>
                <td>{{ code.codeName }}</td>
                <td>{{ code.pCateName }}</td>
                <td>{{ code.costRate }}</td>
                <td>{{ code.saleRate }}</td>
                <td class="text-right">
                  <a
                    class="text-success mx-2"
                    *ngIf="isWrite == 'true'"
                    (click)="editBarcode(code)"
                  >
                    <i class="fa-regular fa-pen-to-square"></i>
                  </a>
                  <a
                    class="text-danger mx-2"
                    *ngIf="isDelete == 'true'"
                    (click)="delete(code)"
                  >
                    <i class="fa-regular fa-trash-can"></i>
                  </a>
                  <a class="text-warning mx-2" (click)="goToLedger(code)">
                    <i class="fa-solid fa-receipt"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-container> -->
  <ng-container >
    <div class="card shadow border-0 eas-border-radius-0">
      <!-- <div class="card-head">
        <div class="row">
          <div class="float-left">
            <button
              type="button"
              class="btn btn-labeled btn-primary ml-1 my-1 border-0"
              (click)="cate()"
            >
              <span class="btn-label">
                <i class="fa-solid fa-plus"></i>
              </span>
              New Category
            </button>
            <button
              type="button"
              class="btn btn-labeled btn-primary ml-1 my-1 border-0"
              (click)="subcate()"
            >
              <span class="btn-label">
                <i class="fa-solid fa-plus"></i>
              </span>
              New Sub Category
            </button>
          </div>
        </div>
      </div> -->

      <div class="card-body">
        <div class="table-responsive">
          <div class="form-group">

            <input
              type="text"
              class="form-control eas-border-radius-0"
              placeholder="Search..."
            />
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>S#</th>
                <th>Code Name</th>
                <th>Category</th>
                <th>Cost Rate</th>
                <th>Sale Rate</th>
                <th class="text-right">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let code of code">
                <td>{{code.cid}}</td>
                <td>{{code.codeName}}</td>
                <td>{{code.pCateName}}</td>
                <td>{{code.costRate}}</td>
                <td>{{code.saleRate}}</td>
                <td class="text-right">
                  <a class="text-success mx-2" (click)="edit(code)">
                    <i class="fa-regular fa-pen-to-square"></i>
                  </a>
                  <a class="text-danger mx-2" (click)="delete(code)">
                    <i class="fa-regular fa-trash-can"></i>
                  </a>
                  <!-- <a class="text-warning mx-2" (click)="goToLedger(code)">
                    <i class="fa-solid fa-receipt"></i>
                  </a> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body"></div>
    </div>
  </div>
</div>
