<div class="container mt-2 py-2" >
  <div class="eas-border-radius-0 bg-primary inner-header text-light nav-wrapper">
    <div class="flex-row-back">
      <a (click)="location.back()" class="nav-item-back">
        <i class="fa-solid fa-arrow-left"></i
      ></a>
      <h6 class="text-right my-2 p-2">Sub Category</h6>
    </div>
    <div class="flex-row"></div>
  </div>
  <div class="row mt-4">
    <div class="col-sm-4">
      <div class="card shadow eas-border-radius-0">
        <div class="card-head  py-2" style="background-color: #4aa41c ;color: white;">
          <h6 class="text-center fw-bold my-1">{{branchName}} | Add New Sub Category</h6>
        </div>
        <div class="card-body">
          <div class="row g-1" *ngIf="subCate.scid">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="form-label">ID</label>
                <input
                  type="number"
                  class="form-control"
                  [(ngModel)]="scate.scid"
                  disabled
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label class="form-label">Sub Category Name</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="scate.subTitle"
                  #input
                  (focus)="setCursorToEnd(input)" 
                  (click)="setCursorToEnd(input)"
                />
                
              </div>
            </div>
          </div>
          <div class="py-2 d-flex justify-content-end">
            
            <button type="submit" 
            class="btn mt-2" 
            style="background-color: #4aa41c; color: white" 
            (click)="save()" 
            [disabled]="loading">
      <i *ngIf="!loading" class="fa fa-plus"></i>
      
      <div *ngIf="loading" class="spinner-border spinner-border-sm text-light" role="status">
        <span class="sr-only"></span>
      </div> 
      
      <span *ngIf="!loading">{{ scate.scid ? 'Update' : 'Create' }}</span>
      <span *ngIf="loading">Saving...</span>
    </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <ng-container *ngIf="assign == 2">
        <div class="card shadow border-0 eas-border-radius-0">
          <div class="card-head">
            <div class="form-group">
              <input
                type="text"
                class="form-control eas-border-radius-0"
                placeholder="Search..."
                [(ngModel)]="filterTerm"
              />
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 5%">S#</th>
                    <th style="width: 85%">Category</th>
                    <th style="width: 10%">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let subCate of subCateArr; let i = index">
                    <td style="width: 5%">{{ subCate.scid }}</td>
                    <td style="text-transform: capitalize; width: 85%">
                      {{ subCate.subTitle }}
                    </td>
                    <td class="text-right" style="width: 10%">
                      <a
                        class="text-primary mx-2"
                        *ngIf="isWrite == 'true'"
                        (click)="edit(subCate)"
                      >
                        <i class="fa-regular fa-pen-to-square"></i>
                      </a>
                      <a
                        class="text-danger mx-2"
                        *ngIf="isDelete == 'true'"
                        (click)="delete(subCate)"
                      >
                        <i class="fa-regular fa-trash-can"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="assign == 1">
        <div class="card shadow border-0 px-3 eas-border-radius-0">
          <div class="card-head mt-3">
            <div class="form-group">
              <input
                type="text"
                class="form-control eas-border-radius-0"
                placeholder="Search..."
                [(ngModel)]="filterTerm"
              />
            </div>
          </div>
          <div class="card-body">
            <div class="" style="max-height: 70vh; overflow-y: auto;">
              <table class="table">
                <thead>
                  <tr>
                    <th style=" background-color: rgb(226, 224, 224)">S#</th>
                    <th style=" background-color: rgb(226, 224, 224)">Sub Category</th>
                    <th style=" background-color: rgb(226, 224, 224)" class="text-right">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let subCate of subCateArr; let i = index">
                    <td style="width: 5%">{{ subCate.scid }}</td>
                    <td style="text-transform: capitalize; width: 85%">
                      {{ subCate.subTitle }}
                    </td>
                    <td class="text-right" style="width: 10%">
                      <a class="text-primary mx-2" (click)="edit(subCate)">
                        <i class="fa-regular fa-pen-to-square"></i>
                      </a>
                      <a class="text-danger mx-2" (click)="delete(subCate)">
                        <i class="fa-regular fa-trash-can"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
