
<div class="form-holder">
    <div class="form-content">
        <div class="form-items">

       
                
                <div class="form-group mb-2">
                    <label>Type</label>
                    <input type="text" class="form-control" [(ngModel)]="eType.eType">
                    <!-- <div *ngIf="newForm.get('eType').invalid && newForm.get('eType').touched" class="text-light">
                        Type is required
                      </div> -->
                </div>
                
        <!-- <button type="submit" class="form-control btn btn-primary rounded submit px-3" (click)="save()">Submit</button> -->
        <div class="d-flex justify-content-end">
          <button type="submit" class=" btn"
          
          style="background: #4aa41c; color:white"
          (click)="save()" >Submit</button>
         </div>
      </div>
      </div>
      </div>
      
    
