
.nav-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  padding: 0px 5px;
}
.flex-row-back {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.flex-row {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
}
.nav-item-back {
  border-right: solid 2px #fff;
  padding: 10px;
  color: #fff;
}

.content-wrapper
{
  height: auto;
  width: 100%;
  padding:10px 20px;
  border: 1px solid #ccc;
  background-color: F7F7F7;
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slideFromRight {
  from {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
}
  to {
    transform: translateX(0%);
  }
}

.tab-pane.fade {
  animation: slideFromRight 0.5s both;
}

.tab-pane.fade.show.active {
  animation: slideFromLeft 0.5s both;
}


/* FORM CSS */

/* .form-group{
display: inline-flex;
width: 75%;
}
.form-group label{
font-size: 0.8rem;
width: 25%;
bottom:0px;
} */
.c-label{
font-size: 0.8rem;
font-weight: bold;
}
.btn-add{
margin-top: 1.8rem !important;
}

.form-group{
margin: 5px!important;
}

.bilty{
display: block;
}
.screen-lg{
display: block;
}
.mobile-total{
display: none;
}
@media screen and (max-width:768px) {
.screen-lg{
  display: none;
}
.bilty{
  display: none;
}
.mobile-total{
  display: block;
}
}


.form-label {
margin-bottom: 0;
}
.form-group {
margin-bottom: 0.3rem!important;
margin-top: 0.3rem!important;

}

.table {
background-color: #ffffff;
}
.table-striped tbody tr:nth-of-type(odd) {
background-color: #f2f2f2;
}
.table-bordered {
border: 1px solid #ddd;
}


/* github css */
.form-group {
margin-bottom: 10px;
}
.table-bordered {
border: 1px solid #ddd;
}
.table-bordered th,
.table-bordered td {
border: 1px solid #ddd;
padding: 8px;
}
.purchase-button {
margin-top: 10px;
}
label {
font-size: 0.8rem !important;
}
input {
padding: 3px 2px !important;
font-size: 1rem !important;
width: 100%;
font-weight: 400;
line-height: 0.8;
}
@media screen and (max-width: 500) {
.header {
  width: 100% !important;
  background: red !important;
}
}

.head{
  background-color: rgb(226, 224, 224);
}