<ng-container *ngIf="!isPrint">
  <div class="container-fluid mt-2 py-2">
    <div
      class="eas-border-radius-0 bg-primary inner-header text-light nav-wrapper"
    >
      <div class="flex-row-back">
        <!--  -->
        <a class="nav-item-back" (click)="location.back()">
          <i class="fa-solid fa-arrow-left"></i
        ></a>
        <h6 class="text-right my-1">{{branchName}} | Add New Purchase</h6>
      </div>
      <div class="flex-row">
        <button
          class="btn btn-labeled btn-light border-0 my-1"
          (click)="Save()"
        >
          <span class="btn-label">
            <i class="fa-solid fa-floppy-disk"></i>
          </span>
          {{ this.purchasemain.pMid ? "Update" : "Save" }}
        </button>
        <button
          class="btn btn-labeled btn-light border-0 my-1"
          (click)="printVoucher()"
        >
          <span class="btn-label">
            <i class="fa-solid fa-print"></i>
          </span>
          Print View
        </button>
      </div>
      <!--  -->
    </div>
    <ng-container>
      <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 header">
          <div class="text-center col-12 mt-1" style="background:#add8e6">
            <p class="h6 text-light py-2 fw-bold">Vendor Info</p>
          </div>
          <div class="row g-1 px-2">
            <div class="col-md-3" style="padding: 1px !important">
              <div class="row g-0">
                <div class="col-md-3">
                  <label>Date: </label>
                </div>
                <div class="col-md-9">
                  <input
                    type="date"
                    id="chooseItem"
                    placeholder=""
                    style="
                      padding: 3px 2px !important;
                      font-size: 1rem !important;
                      width: 100%;
                      font-weight: 400;
                      line-height: 0.8;
                    "
                    [(ngModel)]="eDate"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-3" style="padding: 1px !important">
              <div class="row g-1">
                <div class="col-md-3">
                  <label>ID: </label>
                </div>
                <div class="col-md-9">
                  <input
                    type="number"
                    id="chooseItem"
                    placeholder=""
                    style="
                      padding: 3px 2px !important;
                      font-size: 1rem !important;
                      width: 100%;
                      font-weight: 400;
                      line-height: 0.8;
                    "
                    [(ngModel)]="purchasemain.pMid"
                    disabled
                  />
                </div>
              </div>
            </div>
            <div class="col-md-3" style="padding: 1px !important">
              <div class="row g-1">
                <div class="col-md-3">
                  <label>MVNo: </label>
                </div>
                <div class="col-md-9">
                  <input
                    type="text"
                    id="chooseItem"
                    placeholder=""
                    style="
                      padding: 3px 2px !important;
                      font-size: 1rem !important;
                      width: 100%;
                      font-weight: 400;
                      line-height: 0.8;
                    "
                    [(ngModel)]="purchasemain.billNo"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-3" style="padding: 1px !important">
              <div class="row g-1">
                <div class="col-md-3" style="padding: 1px !important">
                  <label style="text-wrap: nowrap">ST Invoice No: </label>
                </div>
                <div class="col-md-9">
                  <input
                    type="text"
                    id="chooseItem"
                    placeholder=""
                    style="
                      padding: 3px 2px !important;
                      font-size: 1rem !important;
                      width: 100%;
                      font-weight: 400;
                      line-height: 0.8;
                    "
                    [(ngModel)]="purchasemain.stInvoiceNo"
                  />
                </div>
              </div>
            </div>

            <div class="col-md-6" style="padding: 1px !important">
              <div class="row">
                <div class="col-md-3" style="width: 11.5%">
                  <label style="text-wrap: nowrap">ST Party: </label>
                </div>
                <div class="col-md-9" style="width: 88.5%">
                  <ng-select
                    [items]="partyArr"
                    bindLabel="customerName"
                    bindValue="customerID"
                    [(ngModel)]="purchasemain.sAccID"
                    (change)="changeParty($event)"
                    required
                    style="
                      padding: 3px 2px !important;
                      font-size: 1rem !important;
                      width: 100%;
                      font-weight: 400;
                      line-height: 0.8;
                    "
                  >
                  </ng-select>
                </div>
              </div>
            </div>
            <div class="col-md-6" style="padding: 1px !important">
              <div class="row">
                <div class="col-md-3" style="width: 12%">
                  <label style="text-wrap: nowrap">With Ref Of: </label>
                </div>
                <div class="col-md-9" style="width: 88%">
                  <ng-select
                    [items]="partyArr"
                    bindLabel="customerName"
                    bindValue="customerID"
                    [(ngModel)]="purchasemain.stPartyId"
                    (change)="StPartyChanged($event)"
                    required
                    style="
                      padding: 3px 2px !important;
                      font-size: 1rem !important;
                      width: 100%;
                      font-weight: 400;
                      line-height: 0.8;
                    "
                  >
                  </ng-select>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="flexSwitchCheckCheckedDisabled"
                  [(ngModel)]="isBiltyReq"
                />
                <label
                  class="form-check-label"
                  for="flexSwitchCheckCheckedDisabled"
                >
                  <u>Add Bilty Details</u>
                </label>
              </div>
            </div>
          </div>
          <div
            class="col-12"
            style="padding: 1px !important"
            [ngClass]="isBiltyReq ? '' : 'bilty'"
          >
            <div class="row g-1 px-2 mb-2">
              <div class="col-md-4" style="padding: 1px !important">
                <div
                  class="input-flex"
                  style="
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 2px;
                  "
                >
                  <label>BiltyNo: </label>
                  <input
                    type="number"
                    id="chooseItem"
                    placeholder=""
                    style="
                      padding: 3px 2px !important;
                      font-size: 1rem !important;
                      width: 76.5%;
                      font-weight: 400;
                      line-height: 0.8;
                    "
                    [(ngModel)]="purchasemain.biltyNo"
                    [disabled]="!isBiltyReq"
                  />
                </div>
              </div>
              <div class="col-md-4" style="padding: 1px !important">
                <div
                  class="input-flex"
                  style="
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 2px;
                  "
                >
                  <label>Goods: </label>
                  <input
                    type="number"
                    id="chooseItem"
                    placeholder=""
                    style="
                      padding: 3px 2px !important;
                      font-size: 1rem !important;
                      width: 75%;
                      font-weight: 400;
                      line-height: 0.8;
                    "
                    [(ngModel)]="purchasemain.goods"
                    [disabled]="!isBiltyReq"
                  />
                </div>
              </div>
              <div class="col-md-4" style="padding: 1px !important">
                <div
                  class="input-flex"
                  style="
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 2px;
                  "
                >
                  <label>Pandi: </label>
                  <input
                    type="text"
                    id="chooseItem"
                    placeholder=""
                    style="
                      padding: 3px 2px !important;
                      font-size: 1rem !important;
                      width: 73%;
                      font-weight: 400;
                      line-height: 0.8;
                    "
                    [(ngModel)]="purchasemain.pandi"
                    [disabled]="!isBiltyReq"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="row g-1 px-2">
            <div class="col-md-12" style="padding: 1px !important">
              <div
                class="input-flex"
                style="
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  gap: 2px;
                "
              >
                <label>Remarks: </label>
                <input
                  type="number"
                  id="chooseItem"
                  placeholder=""
                  style="
                    padding: 3px 2px !important;
                    font-size: 1rem !important;
                    width: 94%;
                    font-weight: 400;
                    line-height: 0.8;
                  "
                  [(ngModel)]="purchasemain.remarks"
                />
              </div>
            </div>
          </div>
        </div>

        <!-- 2nd form start here  -->
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
          <div class="text-center col-12 my-1" style="background:#add8e6">
            <p class="h6 text-light py-2 fw-bold">Voucher Calculations</p>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-6 mb-2">
                <div class="row g-0">
                  <div class="col-6 col-sm-6 col-md-3 col-3">
                    <label>Total Qty: </label>
                  </div>
                  <div class="col-md-9 col-6 col-sm-6">
                    <input
                      type="number"
                      id="chooseItem"
                      placeholder=""
                      style="
                        padding: 3px 2px !important;
                        font-size: 1rem !important;
                        width: 100%;
                        font-weight: 400;
                        line-height: 0.8;
                      "
                      [(ngModel)]="saleQty"
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-2">
                <div class="row g-0">
                  <div class="col-6 col-sm-6 col-md-3 col-3">
                    <label>Ret Qty: </label>
                  </div>
                  <div class="col-md-9 col-6 col-sm-6">
                    <input
                      type="number"
                      id="chooseItem"
                      placeholder=""
                      style="
                        padding: 3px 2px !important;
                        font-size: 1rem !important;
                        width: 100%;
                        font-weight: 400;
                        line-height: 0.8;
                      "
                      [(ngModel)]="retQty"
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-2">
                <div class="row g-0">
                  <div class="col-6 col-sm-6 col-md-3 col-3">
                    <label style="width: 100%">T Amount: </label>
                  </div>
                  <div class="col-md-9 col-6 col-sm-6">
                    <input
                      type="number"
                      id="chooseItem"
                      placeholder=""
                      style="
                        padding: 3px 2px !important;
                        font-size: 1rem !important;
                        width: 100%;
                        font-weight: 400;
                        line-height: 0.8;
                      "
                      [(ngModel)]="purchasemain.gSale"
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-2">
                <div class="row g-0">
                  <div class="col-6 col-sm-6 col-md-3 col-3">
                    <label>T Return: </label>
                  </div>
                  <div class="col-md-9 col-6 col-sm-6">
                    <input
                      type="number"
                      id="chooseItem"
                      placeholder=""
                      style="
                        padding: 3px 2px !important;
                        font-size: 1rem !important;
                        width: 100%;
                        font-weight: 400;
                        line-height: 0.8;
                      "
                      [(ngModel)]="purchasemain.sReturn"
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-2">
                <div class="row g-0">
                  <div class="col-6 col-sm-6 col-md-3 col-3">
                    <label>AMT Excl ST: </label>
                  </div>
                  <div class="col-md-9 col-6 col-sm-6">
                    <input
                      type="number"
                      id="chooseItem"
                      placeholder=""
                      style="
                        padding: 3px 2px !important;
                        font-size: 1rem !important;
                        width: 100%;
                        font-weight: 400;
                        line-height: 0.8;
                      "
                      [(ngModel)]="totalExclSt"
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-2">
                <div class="row g-0">
                  <div class="col-6 col-sm-6 col-md-3 col-3">
                    <label>ST Amount: </label>
                  </div>
                  <div class="col-md-9 col-6 col-sm-6">
                    <input
                      type="number"
                      id="chooseItem"
                      placeholder=""
                      style="
                        padding: 3px 2px !important;
                        font-size: 1rem !important;
                        width: 100%;
                        font-weight: 400;
                        line-height: 0.8;
                      "
                      [(ngModel)]="totalSTAmt"
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-2">
                <div class="row g-0">
                  <div class="col-6 col-sm-6 col-md-3 col-3">
                    <label>AMT Incl ST: </label>
                  </div>
                  <div class="col-md-9 col-6 col-sm-6">
                    <input
                      type="number"
                      id="chooseItem"
                      placeholder=""
                      style="
                        padding: 3px 2px !important;
                        font-size: 1rem !important;
                        width: 100%;
                        font-weight: 400;
                        line-height: 0.8;
                      "
                      [(ngModel)]="totalInclSt"
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-2">
                <div class="row g-0">
                  <div class="col-6 col-sm-6 col-md-3 col-3">
                    <label>Expense: </label>
                  </div>
                  <div class="col-md-9 col-6 col-sm-6">
                    <input
                      type="number | currency"
                      class="text-danger h3"
                      id="chooseItem"
                      placeholder=""
                      style="
                        padding: 3px 2px !important;
                        font-size: 1.2rem !important;
                        width: 100%;
                        font-weight: 800;
                        line-height: 0.8;
                      "
                      [(ngModel)]="purchasemain.biltyExp"
                      (change)="onBiltyExpChange()"
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="row g-4">
                  <div class="col-sm-6 col-md-2 col-2" style="width: 45px;">
                    <label class="form-label">Net AMT: </label>
                  </div>
                  <div class="col-md-10 col-10 col-sm-6">
                    <input
                      type="number | currency"
                      class="text-danger h4 form-control"
                      id="chooseItem"
                      placeholder=""
                      style="
                        padding: 3px 2px !important;
                        font-size: 1.2rem !important;
                        width: 107%;
                        font-weight: 800;
                        line-height: 0.8;
                      "
                      disabled
                      [(ngModel)]="totalBillNet"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h6 class="text-center text-light col-12 py-2 fw-bold" style="background:#add8e6">
        Product Detail
      </h6>
      <div class="row">
        <div class="col-md-4">
          <div class="row g-1 px-2">
            <div class="col-md-12">
              <div class="row mb-1">
                <div class="col-md-3">
                  <div
                    class="input-flex"
                    style="
                      display: flex;
                      align-items: center;
                      justify-content: space-between;
                      gap: 2px;
                    "
                  >
                    <label>Choose Item: </label>
                  </div>
                </div>
                <div class="col-md-9">
                  <ng-select
                    [items]="itemsArr"
                    bindLabel="itemDescription"
                    bindValue="itemID"
                    [(ngModel)]="purchasesub.itemID"
                    (change)="changeItem($event)"
                    required
                    [searchFn]="customSearchFn"
                    #select
                    style="
                      padding: 3px 2px !important;
                      font-size: 1rem !important;
                      width: 100%;
                      font-weight: 400;
                      line-height: 0.8;
                    "
                  >
                  </ng-select>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col-md-3">
                  <div
                    class="input-flex"
                    style="
                      display: flex;
                      align-items: center;
                      justify-content: space-between;
                      gap: 2px;
                    "
                  >
                    <label>MOU: </label>
                  </div>
                </div>
                <div class="col-md-9">
                  <input
                    style="
                      padding: 3px 2px !important;
                      font-size: 1rem !important;
                      width: 100%;
                      font-weight: 400;
                      line-height: 0.8;
                    "
                    [(ngModel)]="purchasesub.measureUnit"
                  />
                </div>
              </div>

              <div class="row mb-1">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-6">
                      <label>Units: </label>
                    </div>
                    <div class="col-md-6">
                      <input
                        style="
                          padding: 3px 2px !important;
                          font-size: 1rem !important;
                          width: 100%;
                          font-weight: 400;
                          line-height: 0.8;
                        "
                        [(ngModel)]="purchasesub.pktQty"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row flex justify-content-between">
                    <div class="col-md-6 text-right">
                      <label>Unit Qty: </label>
                    </div>
                    <div class="col-md-6">
                      <input
                        style="
                          padding: 3px 2px !important;
                          font-size: 1rem !important;
                          width: 100%;
                          font-weight: 400;
                          line-height: 0.8;
                        "
                        [(ngModel)]="purchasesub.packet"
                        (keyup)="calculateQty($event)"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <!-- --------------------------------------- -->
              <div class="row mb-1">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-6">
                      <label>Qty: </label>
                    </div>
                    <div class="col-md-6">
                      <input
                        style="
                          padding: 3px 2px !important;
                          font-size: 1rem !important;
                          width: 100%;
                          font-weight: 400;
                          line-height: 0.8;
                        "
                        [(ngModel)]="purchasesub.qty"
                        disabled
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row flex justify-content-between">
                    <div class="col-md-6 text-right">
                      <label>Rate: </label>
                    </div>
                    <div class="col-md-6">
                      <input
                        style="
                          padding: 3px 2px !important;
                          font-size: 1rem !important;
                          width: 100%;
                          font-weight: 400;
                          line-height: 0.8;
                        "
                        [(ngModel)]="purchasesub.purchaseRate"
                        (keyup)="onChangeRate()"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-6">
                      <label>Discount %:</label>
                    </div>
                    <div class="col-md-6">
                      <input
                        style="
                          padding: 3px 2px !important;
                          font-size: 1rem !important;
                          width: 100%;
                          font-weight: 400;
                          line-height: 0.8;
                        "
                        [(ngModel)]="purchasesub.disPer"
                        (keypress)="onChangeDiscountPer()"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row flex justify-content-between">
                    <div class="col-md-6 text-right">
                      <label>Discount Rs: </label>
                    </div>
                    <div class="col-md-6">
                      <input
                        style="
                          padding: 3px 2px !important;
                          font-size: 1rem !important;
                          width: 100%;
                          font-weight: 400;
                          line-height: 0.8;
                        "
                        [(ngModel)]="purchasesub.disRS"
                        (keypress)="onChangeDiscountRS()"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-6">
                      <label>Amount Excl ST:</label>
                    </div>
                    <div class="col-md-6">
                      <input
                        style="
                          padding: 3px 2px !important;
                          font-size: 1rem !important;
                          width: 100%;
                          font-weight: 400;
                          line-height: 0.8;
                        "
                        disabled
                        [(ngModel)]="purchasesub.amount"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row flex justify-content-between">
                    <div class="col-md-6 text-right">
                      <label>ST%: </label>
                    </div>
                    <div class="col-md-6">
                      <input
                        style="
                          padding: 3px 2px !important;
                          font-size: 1rem !important;
                          width: 100%;
                          font-weight: 400;
                          line-height: 0.8;
                        "
                        [(ngModel)]="purchasesub.saleTaxPercent"
                        (keyup)="onChangeSTPercent()"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col-md-3">
                  <div
                    class="input-flex"
                    style="
                      display: flex;
                      align-items: center;
                      justify-content: space-between;
                      gap: 2px;
                    "
                  >
                    <label>ST Amount: </label>
                  </div>
                </div>
                <div class="col-md-9">
                  <input
                    style="
                      padding: 3px 2px !important;
                      font-size: 1rem !important;
                      width: 100%;
                      font-weight: 400;
                      line-height: 0.8;
                    "
                    [(ngModel)]="purchasesub.saleTaxAmount"
                    disabled
                  />
                </div>
              </div>
              <div class="row mb-1">
                <div class="col-md-3">
                  <div
                    class="input-flex"
                    style="
                      display: flex;
                      align-items: center;
                      justify-content: space-between;
                      gap: 2px;
                    "
                  >
                    <label>Amount Incl ST: </label>
                  </div>
                </div>
                <div class="col-md-9">
                  <input
                    style="
                      padding: 3px 2px !important;
                      font-size: 1rem !important;
                      width: 100%;
                      font-weight: 400;
                      line-height: 0.8;
                    "
                    [(ngModel)]="AmountInclSt"
                    disabled
                  />
                </div>
              </div>
            </div>
            <div
              class="row mt-2 d-flex flex-row justify-content-between align-items-center"
            >
              <div class="col-md-4">
                <button class="btn btn-success" (click)="addLine()">Add</button>
              </div>

              <div class="col-md-4 form-check form-switch">
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="flexSwitchCheckChecked"
                    checked
                    [(ngModel)]="isPurchase"
                    (change)="onSelectType()"
                  />
                  <label
                    class="form-check-label"
                    for="flexSwitchCheckCheckedDisabled"
                  >
                    <u>{{ pLable }}</u>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-lg-8 col-xl-8 col-sm-12">
          <div class="table-responsive">
            <table class="table table-bordered table-striped text-center">
              <thead>
                <tr>
                  <th style="width: 180px;" class="head">Item Name</th>
                  <th class="head">Qty</th>
                  <th class="head">Rate</th>
                  <th class="head">Dis Per</th>
                  <th class="head">Dis Rs</th>
                  <th class="head">Amt Exclude ST</th>
                  <th class="head">ST Per</th>
                  <th class="head">ST Amt</th>
                  <th class="head">Amt Include ST</th>
                  <th class="head">EType</th>
                  <th class="head">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let grn of purchasemain.purchasesDetail">
                  <td>{{ grn.itemDescription }}</td>
                  <td>{{ grn.qty }}</td>
                  <td>{{ grn.purchaseRate }}</td>
                  <td>{{ grn.disPer }}</td>
                  <td>{{ grn.disRS ?? 0 }}</td>
                  <td>{{ grn.amount }}</td>
                  <td>{{ grn.saleTaxPercent }}</td>
                  <td>{{ grn.saleTaxAmount }}</td>
                  <td>{{ grn.amount + grn.saleTaxAmount }}</td>
                  <td>{{ grn.pType }}</td>
                  <td>
                    <div class="btn-group">
                      <a class="btn btn-primary" (click)="editLine(grn)"
                        >edit</a
                      >
                      <a class="btn btn-danger" (click)="deleteLine(grn)"
                        >Del</a
                      >
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-9"></div>
      <div class="col-md-12 col-lg-12 col-xl-4 col-sm-12 item-form"></div>

      <div class="d-none row px-1 g-0 my-1" style="background: #cecece">
        <div class="col-12 border">
          <div class="row px-2 g-0">
            <div class="col-3">
              <div class="form-group input-group-sm mt-1">
                <label class="c-label form-label">Item</label>
                <select
                  class="custom-select"
                  id="inputGroupSelect01"
                  [(ngModel)]="purchasesub.itemID"
                >
                  <!-- (change)="changeItem($event)" -->
                  <option
                    selected
                    *ngFor="let item of itemsArr"
                    [value]="item.id"
                  >
                    {{ item.itemName }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-9">
              <div class="row g-1 px-2">
                <div class="col-1">
                  <div class="form-group input-group-sm">
                    <label class="c-label form-label">M.O.U</label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
                <div class="col-1">
                  <div class="form-group input-group-sm">
                    <label class="c-label form-label">Units</label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
                <div class="col-1">
                  <div class="form-group input-group-sm">
                    <label class="c-label form-label">Unit Qty</label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
                <div class="col-1">
                  <div class="form-group input-group-sm">
                    <label class="c-label form-label">Qty</label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
                <div class="col-1">
                  <div class="form-group input-group-sm">
                    <label class="c-label form-label">Rate</label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
                <div class="col-1">
                  <div class="form-group input-group-sm">
                    <label class="c-label form-label">Amount Excl. ST</label>
                    <input type="text" class="form-control" disabled />
                  </div>
                </div>
                <div class="col-1">
                  <div class="form-group input-group-sm">
                    <label class="c-label form-label">ST %</label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
                <div class="col-1">
                  <div class="form-group input-group-sm">
                    <label class="c-label form-label">St Amount</label>
                    <input type="text" class="form-control" disabled />
                  </div>
                </div>
                <div class="col-2">
                  <div class="form-group input-group-sm">
                    <label class="c-label form-label">Amount Invl. St</label>
                    <input type="text" class="form-control" disabled />
                  </div>
                </div>
                <div class="col-1">
                  <div class="form-group input-group-sm mt-1">
                    <label class="c-label form-label">Type</label>
                    <select class="custom-select" id="inputGroupSelect01">
                      <option
                        selected
                        *ngFor="let item of ST"
                        [value]="item.pTypeId"
                      >
                        {{ item.pType }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="col-1">
                  <button class="btn btn-primary btn-block btn-sm btn-add">
                    Add
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>
<ng-container *ngIf="isPrint">
  <div class="container bg-light border mt-4">
    <div
      class="eas-border-radius-0 bg-primary inner-header text-light nav-wrapper"
    >
      <div class="flex-row-back">
        <!--  -->
        <a class="nav-item-back" (click)="backToInvoice()">
          <i class="fa-solid fa-arrow-left"></i
        ></a>
        <h5 class="text-right my-1">Purchase Print View</h5>
      </div>
      <div class="flex-row">
        <button
          class="btn btn-labeled btn-light border-0 my-1"
          (click)="onPrint()"
        >
          <span class="btn-label">
            <i class="fa-solid fa-floppy-disk"></i> </span
          >Print
        </button>
        <button
          class="btn btn-labeled btn-light border-0 my-1"
          (click)="shareOnWhatsApp()"
        >
          <span class="btn-label">
            <i class="fa-solid fa-floppy-disk"></i> </span
          >Share On Whatsapp
        </button>
      </div>
      <!--  -->
    </div>
    <div>
      <section class="print-header mt-5 text-center">
        <h2>
          {{ companyName }}<br />
          <small>{{ companyAddress }}</small>
        </h2>

        <h5 class="text-center">Purchase Voucher</h5>
      </section>
      <section class="print-body" style="width: 100%">
        <div class="body flex flex-row justify-content-between">
          <div>
            Bill No: <u>{{ purchasemain.billNo ? purchasemain.pMid : pmId }}</u>
          </div>
          <div>
            Date: <u>{{ eDate }}</u>
          </div>
          <div>
            St Invoice No: <u>{{ purchasemain.stInvoiceNo }}</u>
          </div>
        </div>
        <br />
        <div class="table-responsive">
          <table class="table">
            <tr>
              <th>Item Name</th>
              <th>Qty</th>
              <th>Rate</th>
              <th>Disc In %</th>
              <th>Disc In Rs</th>
              <th>Amount</th>
              <th>ST%</th>
              <th>ST Amount</th>
              <th>Amount Include ST</th>
            </tr>

            <tbody>
              <tr *ngFor="let grn of purchasemain.purchasesDetail">
                <td>
                  {{ grn.itemDescription }}
                  <small
                    style="background: black; color: white; border-radius: 4px"
                    >{{ grn.pTypeId == 1 ? "" : "returned" }}
                  </small>
                </td>
                <td>{{ grn.qty }}</td>
                <td>{{ grn.purchaseRate }}</td>
                <td>{{ grn.disPer }}</td>
                <td>{{ grn.disRS ?? 0 }}</td>
                <td>{{ grn.amount }}</td>
                <td>{{ grn.saleTaxPercent }}</td>
                <td>{{ grn.saleTaxAmount }}</td>
                <td>{{ grn.amount + grn.saleTaxAmount }}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td><b>Total</b></td>
                <td>{{ saleQty - retQty }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ purchasemain.gSale - purchasemain.sReturn }}</td>
                <td></td>
                <td>{{ totalSTAmt }}</td>
                <td>{{ totalInclSt }}</td>
                <!-- <td>{{tAmount}}</td> -->
              </tr>
            </tfoot>
          </table>
        </div>
      </section>
      <div
        class="d-flex justify-content-end align-items-end"
        style="flex-direction: column"
      >
        <p>
          Total Amount : <u>{{ purchasemain.gSale - purchasemain.sReturn }}</u>
        </p>
        <p>
          Total Return Amount : <u>{{ purchasemain.sReturn }}</u>
        </p>
        <p>
          Exclude ST Amount :
          <u>{{ purchasemain.gSale - purchasemain.sReturn }}</u>
        </p>
        <p>
          Sale Tax : <u>{{ totalSTAmt }}</u>
        </p>
        <p>
          Amount Include ST : <u>{{ totalInclSt }}</u>
        </p>
        <p>
          Net Bill : <u>{{ totalInclSt }}</u>
        </p>
      </div>
    </div>
  </div>
</ng-container>
