<!-- <div class="container mt-2 py-2">
  <div
    class="eas-border-radius-0 bg-primary inner-header text-light nav-wrapper"
  >
    <div class="flex-row-back">
      <a (click)="location.back()" class="nav-item-back">
        <i class="fa-solid fa-arrow-left"></i
      ></a>
      <h6 class="text-right my-2">{{branchName}} | Code Category</h6>
    </div>
    <div class="flex-row"></div>
  </div>

  <div class="row my-2">
    <div class="col-sm-5">
      <div class="card shadow eas-border-radius-0">
        <div
          class="card-head text-center py-2"
          style="background-color: #4aa41c ;color: white;"
        >
          <h6 class="fw-bold my-1">Add New Category</h6>
        </div>
        <div class="card-body">
      <form (ngSubmit)="save()"> 
            <div class="row mb-2 g-1">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>ID</label>
                  <input
                  
                    type="number"
                    class="form-control"
                    [(ngModel)]="category.cateID"
                  disabled
                  >
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Date</label>
                  <input
                    type="date"
                    class="form-control"
                    [(ngModel)]="category.eDate"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label class="form-label">Category Name</label>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="category.title"
                    #input
                    (focus)="setCursorToEnd(input)" 
                    (click)="setCursorToEnd(input)"
                    
                  />
                 
                </div>
              </div>
            </div>
            <div class="py-2 d-flex justify-content-end">

              <button type="submit" 
              class="btn mt-2" 
              style="background-color: #4aa41c; color: white" 
              (click)="save()" 
              [disabled]="loading">
        <i *ngIf="!loading" class="fa fa-plus"></i>
        
        <div *ngIf="loading" class="spinner-border spinner-border-sm text-light" role="status">
          <span class="sr-only"></span>
        </div> 
        
        <span *ngIf="!loading">{{ category.cateID ? 'Update' : 'Create' }}</span>
        <span *ngIf="loading">Saving...</span>
      </button>
            </div>
   
        </div>
      </div>
    </div>
    <div class="col-sm-7">
    
      <ng-container>
        <div class="card shadow border-0 px-3 eas-border-radius-0">
          <div class="card-head mt-3">
            <div class="form-group"></div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 20%; background-color: rgb(226, 224, 224)">S#</th>
                    <th style="width: 20%; background-color: rgb(226, 224, 224)">Category</th>
                    <th style="width: 20%; background-color: rgb(226, 224, 224)" class="text-right">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cate of categoryArr; let i = index">
                    <td>{{ cate.cateID }}</td>
                    <td>{{ cate.title }}</td>
                    <td class="text-right">
                      <a class="text-primary mx-2" (click)="edit(cate)">
                        <i class="fa-regular fa-pen-to-square"></i>
                      </a>
                      <a class="text-danger mx-2" (click)="delete(cate)">
                        <i class="fa-regular fa-trash-can"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>


 -->
