.sidebar {
    height: calc(100vh - 56px); 
    width: 250px;
    position: fixed;
    top: 56px;
    left: 0;
    overflow-y: auto;
    z-index: 1000;
  }
  .nav-link {
    cursor: pointer;
  }
  
  .list-group-item {
    border: none;
    padding: 0.5rem 1rem;
  }
  

  a{
    text-decoration: none;
    color:black;
    &:hover{
      background: #cecece;
      width: 100%;
      padding:0.5rem 1rem;
      color:white
    }
  }