<div [ngClass]="{ 'd-none': !sidebarService.isOpen }" class="bg-light sidebar">
    <ul class="list-group">
      <li class="list-group-item">
        <a class="nav-link" href="#">Dashboard</a>
      </li>
      <li class="list-group-item" >
        <a
          class="nav-link"
          
          (click)="toggleMenu('receivables')"
          [attr.aria-expanded]="dropdowns.receivables"
        >
          Accounts
          <i class="bi bi-chevron-down float-end"></i>
        </a>
        <ul
          class="list-group ps-3"
          *ngIf="dropdowns.receivables"
          style="list-style: none;
          "
          
        >
        <ng-container *ngFor="let item of config.accounting">
          <li class="list-group-item"><a [routerLink]="item.path">{{item.componentName}}</a></li>
        </ng-container>
        </ul>
      </li>
      <li class="list-group-item">
        <a
          class="nav-link"
          href="#"
          (click)="toggleMenu('payables')"
          [attr.aria-expanded]="dropdowns.payables"
        >
          Payables
          <i class="bi bi-chevron-down float-end"></i>
        </a>
        <ul
          class="list-group ps-3"
          *ngIf="dropdowns.payables"
          style="list-style: none;"
        >
          <li class="list-group-item"><a href="#">Bills</a></li>
          <li class="list-group-item"><a href="#">Vendors</a></li>
        </ul>
      </li>
    </ul>
  </div>
  