  
  <app-shared-table
  [tableTitle]="'Sub Account Index'"
  [tableHeaders]="['Id','Title']"
  [tableKeys]="['accID','title']"
  [tableData]="config.data"
  
  (newClick)="add()"
  (edit)="edit()"
  (delete)="delete()"
  [isAction]="true"
  [isNewAction]="true"
  ></app-shared-table>
  <!-- [dateFields]="['cDate']"
   
  
  
  [tableData]="config.data"
  
  (newClick)="config.tableActions.add(route)"
  (edit)="config.tableActions.edit(route,$event)"
  (delete)="delete($event)"
  [isAction]="true"
  [isNewAction]="true"
  -->